
.advantage-container{
    position: relative;
    width: 1680px;
    height: 865px;
    
}
.darkbackground {

    position: absolute;
    width: 1680px;
    height: 890px;
    left: 0px;
    transform: scaleX(-1);
    z-index: -90;
    
}

.advantage_items {
   color: beige;
   display:block;
   flex-wrap: wrap;
}
 .advantage_title { 
    position: absolute;
    width: 1068px;
    height: 52px;
    left: 178px;
    top: 110px;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
 }

 .wrapper {
    display: flex;
    position: absolute;
    width: 704px;
    height: 600px;
    left: 228px;
    padding-top: 115px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
 }

 span {
    padding: 6px
 }

 .accordion {
    width: 800px;
 }

 .react-icons {
    vertical-align: middle;
    
  }

 .item {
    margin-bottom: 5px;
    padding: 10px 20px;
    border-bottom:  solid 1px #191247;
    width: 700px;

 }

 .title_wrapper {
    color: #FFFFFF;
    display: flex;
    justify-content: left;
    align-items:center;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;

 }

 .content {
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    color: #8682B6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 4px
 }

 .content.show {
    padding: 4px;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    color: #8682B6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    ;
 }

 .advantage_list {
    position: absolute;
    display: flex;
    left: 250px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    top: 120px;
    width: 704px;
    height: 93px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
 }


.big_img_product1 {
    position: absolute;
    width: 900px;
    height: 1150px;
    left: 650px;
    top: -112px;
    clip-path: inset(112px 40px 155px);
    overflow: hidden;
    
}

.backshadow {
    position: absolute;
    width: 450px;
    height: 1797px;
    left: 1040px;
    top: -20px;
    overflow: hidden;
    z-index: -1;
    clip-path: inset(0 0 50% 0);
    background: radial-gradient(46.66% 49.33% at 50.15% 50.67%, #01AFCF 0%, rgba(5, 3, 40, 0) 100%);
}

.backshadow2 {
   position: absolute;
   width: 800px;
   height: 1797px;
   left: 887px;
   top: 254px;
   overflow: hidden;
   z-index: -2;
   clip-path: inset(0 0 65% 0);
   background: radial-gradient(46.66% 49.33% at 50.15% 50.67%, #01AFCF 0%, rgba(5, 3, 40, 0) 100%);
}

.backshadow3 {
   position: absolute;
   overflow: hidden;
   width: 700px;
   height: 1260px;
   left: 900px;
   top: -30px;
   z-index: -2;
   clip-path: inset(0 0 28% 0);
   background: radial-gradient(46.66% 49.33% at 50.15% 50.67%, #E415C3 0%, rgba(5, 2, 40, 0) 100%);
   background-blend-mode: screen;
   mix-blend-mode: screen;
   opacity: 0.7;
   }

.imgBG1 {
   position: absolute;
   top: -200px;
   right: 0;
}

.imgBG2 {
   position: absolute;
   top: -550px
}
