* { 
    padding: 0;
    margin: 0;
   
    ;
}



.header {
    display: flex;
    justify-content: space-around;
    position:fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 1640px;
    display: flex;
    transition: 0.7s;
    padding: 30px 20px;
    border-bottom: 1px white solid;
    z-index: 90;
}

.header.active{
    background-color: #000;
    opacity: 0.7;
    
}

.nav {
    justify-content: center;
    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.header ul li{
  list-style: none;
  padding: 10px;
  
}

.header li:hover {
  background-color: rgb(72, 66, 66);
  border-radius: 25px;
       
  }

.header ul li a{
    position: relative;
    font-family: Roboto;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.7s;
  }

  button:hover {
    background: #F8306B;
    color: #fff;
      }
  
  