.features_container {
    position: relative;
    width: 1680px;
    height: 864px;
}

.features_img {
    position: absolute;
    z-index: -200;
        
    }

.floor_img {
    position: absolute;
    width: 937px;
    height: 733.09px;
    top:-100px;
    z-index: -30;
    
}

.furniture_img {
    position: absolute;
    top: 100px;
    left: 50px;
    
}

.carrusel-container {
    position: absolute;
    width: 500px;
    top: 100px;
    left: 850px;
    margin: 0;
   
}

   