.footer_img {
    position: absolute;
width: 1680px;
height: 2898px;
left: 0px;
top: 2432px;
z-index: -300;
}

.tech_spec_container {
    position: absolute;
    display: flex;
    width: 1229px;
    height: 586px;
    left: 190px;
    top: 3395px;
}

.table_container {
    position: absolute;
    width: 600px;
    
    
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid #191247
}

.row_title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.col_title {
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border-bottom: none;
}

.col_characteristic {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #8682B6;
    
    ;
}

.col_specifications {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #EFEFF5;
   
    ;
}

.tech_img {
    position: absolute;
    width: 605px;
    height: 578px;
    left: 660px;
    top: 27px
    
}

/* ------------------------- contact us ------------------------------*/


.getInTouch_img {
    position: relative;
    width: 1224px;
    height: 260px;
    left: 200px;
    top: -115px;
    z-index: -10;
}

.buttonContact {
    
        
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        font-family: 'Roboto';
        font-style: normal;
        width: 178px;
        height: 48px;
        text-align: center;
        background: #FFFFFF;
        border-radius: 24px;
        border: none;
        color: #F8306B;
        font-weight: 700;
        font-size: 14px;
        top: -400px;
        left: 715px;
    
}

.contactUs {
    position: relative;
    width: 361px;
    height: 84px;
    left: 580px;
    padding: 45px;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    z-index: 1;
    top: -380px;
}

/* ------------------------- footer ------------------------------*/

.footer_container {
    position: relative;
    top: -200px;
    width: 1200px;
    left: 200px;
}

.row-4 {
    display: flex;
    align-items: baseline;
   
    
}

.row-5 {
   
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
}

.row-2 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 20px;
    border-top: #191247 solid 1px;
    
}

.col-4 {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #F2F2F2;
    width: 250px;
    
}

.col-4-logo {
    
    width: 450px;
    justify-content: baseline;

}

.col-5 {
    
    width: 250px;
}

.col-5-logo {
    
    width: 225px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #F2F2F2;
   
}

a:link {
    
    text-decoration: none;
  }

a:hover {
    color: #F8306B;
    text-decoration: none
  }

a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #F2F2F2;
}

.col-2 {
   
    width: 600px;
    display: flex;
}

.col-2-copyright {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #8682B6
}

.SocialtLink {
    
    padding: 10px;
    
}

